body {
  padding-top: 88.88px;
}

@media (min-width: 992px) {
  body {
    padding-top: 88.88px;
  }
}

.clear-background {
	background-color:white;
}

.fill-background {
	background-image: url("/images/background.png");
	height: 100%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.card {
  height: 100%;
}
