a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

#about {
	margin-top: 100px;
}

#myphoto {
	margin-top: 15px;
	margin-bottom: 15px;
}

.card {
  height: 100%;
}
